# Temperature cache for storing calculated temperatures
[gcode_macro _oams_temp_cache]
variable_target_temp: 240
variable_old_temp: 240
variable_cached_old_lane: ""
gcode:
    # This macro just holds variables, no gcode needed


# Helper macro to calculate purge temperature (max of old and new)
[gcode_macro _CALCULATE_PURGE_TEMP]
gcode:
    {% set OLD_LANE = params.OLD_LANE|default("")|string %}
    {% set NEW_LANE = params.NEW_LANE|default("")|string %}
    {% set DEFAULT_TEMP = params.DEFAULT|default(240)|int %}
    
    RESPOND MSG="[DEBUG] _CALCULATE_PURGE_TEMP: OLD_LANE={OLD_LANE}, NEW_LANE={NEW_LANE}"
    
    {% set old_temp = DEFAULT_TEMP %}
    {% set new_temp = DEFAULT_TEMP %}
    
    # Get old lane temp (OLD_LANE already has "lane" prefix from extruder)
    {% if OLD_LANE != "" %}
        {% set lane_obj = "AFC_lane " ~ OLD_LANE %}
        RESPOND MSG="[DEBUG] Looking for old lane: {lane_obj}"
        {% if lane_obj in printer %}
            RESPOND MSG="[DEBUG] Found {lane_obj}"
            {% if 'extruder_temp' in printer[lane_obj] %}
                {% set old_temp = printer[lane_obj]['extruder_temp']|int %}
                RESPOND MSG="[DEBUG] Old temp: {old_temp}C"
            {% endif %}
        {% else %}
            RESPOND MSG="[DEBUG] {lane_obj} not found, using default {DEFAULT_TEMP}C"
        {% endif %}
    {% endif %}
    
    # Get new lane temp (NEW_LANE is just the number, need to add "lane" prefix)
    {% set lane_obj = "AFC_lane lane" ~ NEW_LANE %}
    RESPOND MSG="[DEBUG] Looking for new lane: {lane_obj}"
    {% if lane_obj in printer %}
        RESPOND MSG="[DEBUG] Found {lane_obj}"
        {% if 'extruder_temp' in printer[lane_obj] %}
            {% set new_temp = printer[lane_obj]['extruder_temp']|int %}
            RESPOND MSG="[DEBUG] New temp: {new_temp}C"
        {% endif %}
    {% else %}
        RESPOND MSG="[DEBUG] {lane_obj} not found, using default {DEFAULT_TEMP}C"
    {% endif %}
    
    # Calculate max and cache it
    {% set purge_temp = old_temp if old_temp > new_temp else new_temp %}
    RESPOND MSG="[DEBUG] Calculated purge temp: {purge_temp}C (max of {old_temp}C and {new_temp}C)"
    SET_GCODE_VARIABLE MACRO=_oams_temp_cache VARIABLE=target_temp VALUE={purge_temp}
    SET_GCODE_VARIABLE MACRO=_oams_temp_cache VARIABLE=old_temp VALUE={old_temp}


# Helper macro to heat to the cached purge temperature
[gcode_macro _HEAT_TO_CACHED_PURGE_TEMP]
gcode:
    {% set purge_temp = printer["gcode_macro _oams_temp_cache"].target_temp|int %}
    RESPOND MSG="[DEBUG] Heating to cached purge_temp={purge_temp}C"
    M104 S{purge_temp}
    M117 Heating to {purge_temp}C...
    {action_respond_info("Heating to %dC..." % purge_temp)}
    {% if purge_temp < 210 %}
        M109 S210
    {% else %}
        M109 S{purge_temp}
    {% endif %}


[gcode_macro CUT_FILAMENT]

gcode:
    {% set pre_cut_x = printer["gcode_macro _oams_macro_variables"].pre_cut_x %}
    {% set pre_cut_y = printer["gcode_macro _oams_macro_variables"].pre_cut_y %}
    {% set post_cut_x = printer["gcode_macro _oams_macro_variables"].post_cut_x %}
    {% set post_cut_y = printer["gcode_macro _oams_macro_variables"].post_cut_y %}
    {% set pre_cut_speed = printer["gcode_macro _oams_macro_variables"].pre_cut_speed %}
    {% set cut_x = printer["gcode_macro _oams_macro_variables"].cut_x %}
    {% set cut_y = printer["gcode_macro _oams_macro_variables"].cut_y %}
    {% set cut_speed = printer["gcode_macro _oams_macro_variables"].cut_speed %}

    {% if printer.toolhead.homed_axes != 'xyz' %}
        RESPOND TYPE=command MSG='Homing'
        G28
    {% endif %}
    RESPOND TYPE=command MSG='Cutting'
    G0 X{pre_cut_x} Y{pre_cut_y} F{pre_cut_speed}
    G0 X{cut_x} Y{cut_y} F{cut_speed}
    G0 X{post_cut_x} Y{post_cut_y} F{pre_cut_speed}
    M400 ; wait for all moves to end


[gcode_macro SAFE_UNLOAD_FILAMENT]
variable_pause_triggered: False
variable_retry: 0

gcode:
    {% set UNLOAD_SPEED = 1000 %}
    {% set ADDITIONAL_UNLOAD_SPEED = 5000 %}
    {% set ADDITIONAL_TIME_ON = 2.0 %}
    {% set ADDITIONAL_EXTRUSION_AMOUNT = ADDITIONAL_UNLOAD_SPEED / 60.0 * (ADDITIONAL_TIME_ON + 1.0) %}
    {% set retract_length = printer["gcode_macro _oams_macro_variables"].retract_length %}
    {% set extrusion_unload_length = printer["gcode_macro _oams_macro_variables"].extrusion_unload_length %}
    
    # If PURGE_TEMP provided, use it; otherwise get temp from currently loaded lane
    {% set PURGE_TEMP = params.PURGE_TEMP|default(0)|int %}
    
    # Cache the currently loaded lane BEFORE unloading
    {% set loaded_lane = printer['AFC_extruder extruder']['lane_loaded'] if 'AFC_extruder extruder' in printer and 'lane_loaded' in printer['AFC_extruder extruder'] else "" %}
    SET_GCODE_VARIABLE MACRO=_oams_temp_cache VARIABLE=cached_old_lane VALUE='"{loaded_lane}"'
    RESPOND MSG="[DEBUG] SAFE_UNLOAD_FILAMENT cached old lane: {loaded_lane}"
    
    {% if PURGE_TEMP > 0 %}
        # Use pre-calculated purge temp (for filament changes)
        {% set temp = PURGE_TEMP %}
        M117 Unloading at purge temp {temp}C...
    {% else %}
        # Get temperature from currently loaded lane (for standalone unload)
        {% set temp = 240 %}
        {% if loaded_lane != "" %}
            {% set lane_obj = "AFC_lane " ~ loaded_lane %}
            {% if lane_obj in printer and 'extruder_temp' in printer[lane_obj] %}
                {% set temp = printer[lane_obj]['extruder_temp']|int %}
            {% endif %}
        {% endif %}
    {% endif %}
    
    # Heat if purge temp provided
    {% if PURGE_TEMP > 0 %}
        M104 S{temp}
        {action_respond_info("Heating to purge temp %dC..." % temp)}
        {% if temp < 210 %}
            M109 S210
        {% else %}
            M109 S{temp}
        {% endif %}
    {% endif %}
    
    # Cache the temp for use during load
    SET_GCODE_VARIABLE MACRO=_oams_temp_cache VARIABLE=old_temp VALUE={temp}
    
    OAMSM_FOLLOWER ENABLE=1 DIRECTION=0 FPS=fps1
    M83
    G92 E0
    G1 E-{retract_length}
    CUT_FILAMENT
    M400
    # PARK_MACRO ; uncomment this line if you have a park macro, and rename it to whatever your park macro is called
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=1
    M83
    G92 E0
    G1 E-{extrusion_unload_length} F{UNLOAD_SPEED}
    M400
    G4 P100
    G1 E-{ADDITIONAL_EXTRUSION_AMOUNT} F{ADDITIONAL_UNLOAD_SPEED}
    G4 P1000
    OAMSM_UNLOAD_FILAMENT FPS=fps1
    M400


[gcode_macro _TX]
gcode:
    {% set hotend_meltzone_compensation = printer["gcode_macro _oams_macro_variables"].hotend_meltzone_compensation %}
    {% set retract_length = printer["gcode_macro _oams_macro_variables"].retract_length %}
    {% set extrusion_reload_length = printer["gcode_macro _oams_macro_variables"].extrusion_reload_length %}
    {% set reload_speed = printer["gcode_macro _oams_macro_variables"].reload_speed %}
    {% set GROUP = params.GROUP %}
    {% set LOADED_GROUP = printer['oams_manager']['fps fps1'].current_group %}
    {% set RELOAD_LENGTH = (extrusion_reload_length + retract_length + hotend_meltzone_compensation) %}
    
    # Parse GROUP to extract lane number (T0 -> 0)
    {% set new_lane = GROUP.replace('T', '') if 'T' in GROUP else GROUP %}
    
    # This is a fix for orca slicer's mishandling of change overs during object exclusion
    {% if printer.toolhead.homed_axes != 'xyz' %}
        RESPOND TYPE=command MSG='Homing'
        G28
    {% endif %}
    
    {% if printer.exclude_object.current_object not in printer.exclude_object.excluded_objects %}
        {% if LOADED_GROUP == GROUP %}
            RESPOND TYPE=command MSG='Toolhead already loaded with {GROUP}'
        {% else %}
            RESPOND TYPE=command MSG='Loading {GROUP}'
            
            # Get old lane from cache (set during unload)
            {% set old_lane = printer["gcode_macro _oams_temp_cache"].cached_old_lane %}
            RESPOND MSG="[DEBUG] Retrieved cached old_lane: {old_lane}"
            
            # Calculate purge temp (max of old and new)
            _CALCULATE_PURGE_TEMP OLD_LANE={old_lane} NEW_LANE={new_lane} DEFAULT=240
            
            # Heat to cached purge temp
            _HEAT_TO_CACHED_PURGE_TEMP
            SAVE_GCODE_STATE NAME=purge_ready 
            # Load the new spool
            OAMSM_LOAD_FILAMENT GROUP={GROUP}
            M400
            G4 P1000
            M83
            G92 E0
            G1 E{RELOAD_LENGTH} F{reload_speed}
            M400
            G4 P1000
                           
            G0 Z15
            CLEAN_NOZZLE
            RESTORE_GCODE_STATE NAME=purge_ready MOVE=1 MOVE_SPEED=100
        {% endif %}
    {% endif %}

# Usage: OAMS_TORTURE_TEST LOOPS=10
# This macro will load and unload each spool the parameter SPOOL number times
[gcode_macro OAMS_TORTURE_TEST]
gcode:
  {% set num = params.LOOPS|int %}
  {% for i in range(num) %}
       {% for j in range(4) %}
            OAMS_LOAD_SPOOL OAMS=1 SPOOL={j}
            OAMS_UNLOAD_SPOOL OAMS=1
       {% endfor %}
       RESPOND TYPE=command MSG='Number of loops now {i+1}'
  {% endfor %}


# Usage: OAMS_TOOLCHANGE_TORTURE_TEST LOOPS=10
# This macro will load and unload each spool the parameter SPOOL number times
# going through the entire routine of a tool change, including purging the filament
# This is used to ascertain the reliability of the tool change macros
# and toolhead extruder loading and unloading routines
[gcode_macro OAMS_TOOLCHANGE_TORTURE_TEST]
variable_extrusion_amount = 30
variable_extrusion_speed = 300
variable_extrusion_z_height = 100
gcode:
  {% set num = params.LOOPS|int %}
  G0 Z{extrusion_z_height} F30
  {% for i in range(num) %}
       {% for j in range(4) %}
            T{j}
            RESPOND TYPE=command MSG='Purging {extrusion_amount}mm of filament'
       {% endfor %}
       RESPOND TYPE=command MSG='Number of loops now {i+1}'
  {% endfor %}

  
  # The following macros are just placeholders necessary to
# configure up to 16 different toolchanger commands
# if you are using more than 4 ams, you will need to add another
# 4 toolchanges for each additional OAMS

[gcode_macro T0]
gcode:
  _TX GROUP=T0

[gcode_macro T1]
gcode:
  _TX GROUP=T1

[gcode_macro T2]
gcode:
  _TX GROUP=T2

[gcode_macro T3]
gcode:
  _TX GROUP=T3

# enable for 2nd OAMS

#[gcode_macro T4]
#gcode:
#  _TX GROUP=T4

#[gcode_macro T5]
#gcode:
# _TX GROUP=T5

#[gcode_macro T6]
#gcode:
#  _TX GROUP=T6

#[gcode_macro T7]
#gcode:
#  _TX GROUP=T7

#enable for 3rd OAMS

#[gcode_macro T8]
#gcode:
#  _TX GROUP=T8

#[gcode_macro T9]
#gcode:
#  _TX GROUP=T9

#[gcode_macro T10]
#gcode:
#  _TX GROUP=T10

#[gcode_macro T11]
#gcode:
#  _TX GROUP=T11

#enable for 4th OAMS

#[gcode_macro T12]
#gcode:
#  _TX GROUP=T12

#[gcode_macro T13]
#gcode:
#  _TX GROUP=T13

#[gcode_macro T14]
#gcode:
#  _TX GROUP=T14

#[gcode_macro T15]
#gcode:
#  _TX GROUP=T15

# example to enable additional 4 toolchanger commands / colors when using 5 OAMSs

# [gcode_macro T16]
# gcode:
#   _TX GROUP=T16

# [gcode_macro T17]
# gcode:
#   _TX GROUP=T17

# [gcode_macro T18]
# gcode:
#   _TX GROUP=T18

# [gcode_macro T19]
# gcode:
#   _TX GROUP=T19
